name: Python Application Test

on: [push]

jobs:
  build-and-test:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout Code
       uses: actions/checkout@v3

     - name: Check Python Version
       run: python3 --version

     - name: Run the App
       run: python3 app.py
